@model Travel_TripProject.Models.Blog
@{
    ViewBag.Title = "BlogDetails";
    Layout = "~/Views/Shared/_tripLayout.cshtml";
}

<style>
    .title {
        padding-left: 40px;
    }
    .cadre{
        width:100%;
        height:max-content;
        border:1px solid black;
        border-radius:3px;
        padding:10px 20px;
        
    }
    .image-avatar{
        width:80px;
        height:80px;
        border-radius:50%
    }
    .date{
        margin-left:100px;
        margin-top:0px;
        
    }
    .couleur {
        color: rgb( 160, 52, 88);
    }
</style>

<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 col-md-12 single-main">
            <p class="display-6 couleur text-danger underline">@Model.Title</p>
            <div class="my-3  border-0">
                <div style="width:100%">
                    <img src="@Model.ImageUrl" alt="" style="width:100%" class="rounded-1" />
                </div>
                <div class="my-2 px-2">
                    <p class="text-justify mt-2 text-secondary">
                        @Model.Description
                    </p>
                </div>
            </div>
            @if (Model.Comments.Count >= 1)
            {
                <p class="display-6 text-primary my-3 underline"> Yorumlar</p>
                foreach (var comment in Model.Comments)
                {

                    <div class="cadre " id="yorum-@comment.CommentId">
                        <div class="d-flex align-items-center gap-3">
                            <img src="~/Templates/webBlog/images/avatar.png" class="image-avatar" alt="avatar" />
                            <p>
                                <span class="fw-semibold fs-6 text-black ">@comment.UserName :</span>
                                <span class="fw-lighter">@comment.CommmentBody</span>
                            </p>

                        </div>
                        <p class="text-secondary fw-lighter date text-info">@comment.WhenCommented</p>
                    </div>
                }

            }
            <div class="comment_area mt-4">
                <p class="display-6 text-primary my-3"> Bir Yorum Bırakın</p>
                @Html.Action("CreateComment", "Default", new { id = Model.BlogId })
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
          @Html.Action("LastBlogs","Default")

            @Html.Action("LastComments", new {id= Model.BlogId})

            <div class="categories">
                <p class="fs-5 fw-semibold title underline">CATEGORIES</p>
                <div class="list">
                    <ul>
                        <li><a href="#">Vivamus vestibulum nulla</a></li>
                        <li><a href="#">Integer vitae libero ac risus e</a></li>
                        <li><a href="#">Vestibulum commo</a></li>
                        <li><a href="#">Cras iaculis ultricies</a></li>
                    </ul>

                </div>
            </div>

        </div>


    </div>
</div>

<!--Add confirmation pop pup when the comment is sended -->

