@model List<Travel_TripProject.Models.Blog>
@{
    ViewBag.Title = "BlogList";
    Layout = "~/Views/Shared/_tripLayout.cshtml";
}
<style>
    .cart{
        box-shadow: 4px -4px 12px rgba(128, 128, 100,0.5);
        cursor:pointer; 
        transition: all 1s;
       

    }
    .cart:hover{
        transform: scale(1.06);
    }
    .title{
        padding-left:40px;
    }
    .couleur {
        color: rgb( 160, 52, 88);
    }
    
</style>

   <div class="container py-5">
        <div class="row">
            <div class="col-lg-8 col-md-12 single-main">
               @foreach(var blog in Model)
            {
                <div class="card my-5 p-1 border-0 cart">
                    <div style="width:100%">
                    <img src="@blog.ImageUrl" alt="" style="width:100%" class="rounded-2" />
                    </div>
                    <p></p>
                    <div class="my-2 px-2">
                        <div class="d-flex justify-content-between">
                        <p  class="text-danger couleur fs-5 fw-lighter " >@blog.Title </p>
                        <p class="text-secondary align-baseline"><strong class="fw-bold text-primary">Oluşturmuş:</strong>  @blog.CreatedDate.ToShortDateString() <strong class="ms-3 fw-lighter"> @blog.Comments.Count Comment@(!(blog.Comments.Count<=1) ? "s":"")</strong></p>
                        </div>
                        <p class="text-justify mt-2">
                            @blog.Description.Substring(0,180) . . .  
                        </p>
                        <a href="/Default/BlogDetails/@blog.BlogId" style="text-decoration:none">
                        
                        <span class="read">Devamını Oku <i class="fa-solid fa-arrow-right"></i></span> </a>

                    </div>
                </div> 
               

            }
            </div>

            <div class="col-lg-4 col-md-12">
                @Html.Action("LastBlogs", "Default")
                <div class="categories">
                    <p class="fs-5 fw-semibold title underline">CATEGORIES</p>
                    <div class="list">
                        <ul>
                            <li><a href="#">Vivamus vestibulum nulla</a></li>
                            <li><a href="#">Integer vitae libero ac risus e</a></li>
                            <li><a href="#">Vestibulum commo</a></li>
                            <li><a href="#">Cras iaculis ultricies</a></li>
                        </ul>
                    </div>
                </div>

            </div>
 

        </div>
    </div>






